* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

body {
height: 100vh;
width: 100%;
max-width: 100%;
min-width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(drawable/ama-dablam-gb8ae656c9_1920.jpg);
}

.container {
    background-color: rgba(0, 20, 46, 0.438);
    text-align: center;
    position: relative;
    height: 100%;
}

.final {
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.card {
    width: 70%;
    height: 70vh;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(0, 10, 27, 0.685);
    border-radius: 10%;
    text-align: center;
    place-items: center;
    margin-top: 20vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: relative;
}

.card h1 {
    margin-top: 2vh;
    font-size: 25px;
}

.card p {
    text-align: justify;
    font-weight: 300;
    padding: 30px;
    font-size: 18px;
}

.douglas-foto {
    margin-top: -12vh;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.541);
}

.redes {
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}

.redes a {
    margin-left: 3%;
    margin-right: 3%;
}

.redes a img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transition: all 400ms;
}

.redes a img:hover {
    box-shadow: 1px 5px 25px rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {

    .final {
        font-size: 9px;
        font-weight: 300;
    }

    .card {
        height: 60vh;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card h1 {
        margin-top: 1vh;
        font-size: 18px;
    }
    
    .card p {
        text-align: justify;
        font-weight: 300;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }

    .douglas-foto {
        margin-top: -10vh;
        width: 100px;
        height: 100px;
    }

    .redes a img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        transition: all 400ms;
    }
}
